*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Bold', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#aud{ 
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
video{
    height: 90%;
    width: 90%;
    margin:10px;
}